.ef-input-container {
  width: 100%;
}

.ef-input {
  outline: none;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid lightgray;
  background-color: transparent;
}
