.ef-form {
  
}

.ef-form-item {
  .err-msg {
    color: red;
    width: 100%;
    min-height: 1.2rem;
    font-size: 0.7rem;
    padding: 0.2rem 0;
  }

  &.is-error {
    .ef-input {
      border-color: red;
    }
  }
}
