@import "common/var";
@import "mixins/mixins";

@include b(animlist) {
  display: flex;
  width: 50rem;
  @include when(vertical) {
    flex-direction: column;
  }
  @include when(horizontal) {
    flex-direction: row;
  }

  @include e(item){
    width: fit-content;
    height: fit-content;
  }
}
