@import "common/var";
@import "mixins/mixins";

@include b(card) {
  perspective: 800px;

  @include e(scene) {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: $--card-border-radius;
    border: 1px solid $--card-border-color;
    background-color: $--color-white;
    color: $--color-text-primary;

    @include when(type-flip) {
      transition: transform 1s;
      transform-style: preserve-3d;
      position: relative;

      @include when(flip-hover) {
        &:hover {
          transform: rotateY(180deg);
        }
      }

      @include when(flip-press) {
        &:active {
          transform: rotateY(180deg);
        }
      }

      @include when(flip-click) {
        @include when(fliped) {
          transform: rotateY(180deg);
        }
      }

      @include when(flip-manual) {
        @include when(fliped) {
          transform: rotateY(180deg);
        }
      }
    }

    @include when(shadow-always) {
      box-shadow: $--box-shadow-light;
    }

    @include when(shadow-hover) {
      &:hover,
      &:focus {
        box-shadow: $--box-shadow-light;
      }
    }
  }

  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: $--card-padding;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  @include e(front) {
    @extend .face;
  }

  @include e(back) {
    @extend .face;
    transform: rotateY(180deg);
  }
}
