@import "common/var";
@import "mixins/mixins";

@include b(setcreate) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  position: absolute;
  box-sizing: border-box;
  @include e(card) {
    width: 500px;
    height: fit-content;
    margin-bottom: 44px;
  }

  @include e(card-inner) {
    padding: 20px;
  }

  @include e(card-bbox) {
    height: 44px;
    width: 100%;
    position: absolute;
    text-align: center;
  }
}
