@import "common/var";
@import "mixins/mixins";

@include b(setcreate) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  position: absolute;
  box-sizing: border-box;
  overflow-y: scroll;
  @include e(card) {
    width: 500px;
    height: fit-content;
    margin-bottom: 44px;
    position: relative;
    &:hover {
      @include e(card-close) {
        visibility: visible;
      }
    }
  }

  @include e(card-close) {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    font-size: $--font-size-large;
    color: mix($--color-white, $--color-info, 60%);
    cursor: pointer;
    padding: 4px;
  }

  @include e(card-inner) {
    padding: 25px 20px;
  }

  @include e(card-bbox) {
    height: 44px;
    width: 100%;
    position: absolute;
    text-align: center;
    &:hover {
      @include e(card-add) {
        visibility: visible;
      }
    }
  }

  @include e(card-add) {
    visibility: hidden;
  }

  @include e(create-button) {
    position: fixed;
    bottom: 100px;
    right: 50%;
    transform: translateX(380px);
  }

   &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: $--color-info-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: mix($--color-white, $--color-info, 60%);
  }
}
