$--m-width: 500px;

.roundBuilder {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: flex;
  align-items: center;
  color: #909399;
  position: absolute;
  top: 30px;
  font-size: 16px;

  .close {
    font-size: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
    transition: background ease 0.3s;

    &:hover {
      background-color: mix(#909399, white, 10%);
      cursor: pointer;
    }
  }

  .progressBar {
    width: $--m-width;
    margin-right: 16px;
  }

  .progressText {
    width: 32px;
    padding-bottom: 4px;
  }
}

.errTerms {
  animation: fadeIn 0.5s ease;
  width: $--m-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errTitle {
  color: #909399;
  margin-bottom: 16px;
}

.errTerm {
  width: $--m-width;
  padding: 16px;
  height: fit-content;
  margin-bottom: 16px;
  .term {
    margin-bottom: 8px;
  }
  .def {
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.listContainer {
  width: $--m-width;
  height: 50%;
  overflow-y: scroll;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 16px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  // box-shadow: inset 0 -0.5rem 0.6rem -10px rgba(0, 0, 0, 0.1);
}

.listContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
