$--m-width: 500px;

.learn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tool {
  width: $--m-width;
  height: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listContainer {
  width: $--m-width;
  height: 50%;
}

.item {
  width: 100%;
  height: fit-content;
  margin-bottom: 20px !important;
  padding: 16px;
}
